# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build Artifacts
build/
dist/
*.spec

# User & Local Data
config.json
library.json
test_dl*
*.part
*.ytdl

# Environments
.env
.venv
env/
venv/
ENV/

# OS metadata
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
